In [1]:
student_name= ["Tanya", "Nishtha"]
student_mark= [54, 88]
student_detail = list(zip(student_name, student_mark))
print(student_detail)

[('Tanya', 54), ('Nishtha', 88)]

In [2]:
for name, mark in student_detail:
    print(f"{name} scored {mark} marks")

Tanya scored 54 marks
Nishtha scored 88 marks

In [9]:
student_name= ["Tanya", "Nishtha"]
student_mark= [54, 88]
student_detail = list(zip(student_name, student_mark))
names, marks =zip(*student_detail)

print(names)
print(marks)

('Tanya', 'Nishtha')
(54, 88)

In [1]:
for i in range(0, 10, 2):  # 0, 2, 4, 6, 8
    print(i)

0
2
4
6
8

In [2]:
colors = ["red", "blue", "green"]
for color in colors:
    print(color)

red
blue
green

In [3]:
for char in "hello":
    print(char)

h
e
l
l
o

In [6]:
person = {"name": "Ana", "age": 25}
for key in value:
    print(key, ":", value)

NameError: name 'value' is not defined

In [7]:
for i in range(1, 4):
    for j in range(1, 3):
        print(f"i={i}, j={j}")

i=1, j=1
i=1, j=2
i=2, j=1
i=2, j=2
i=3, j=1
i=3, j=2

In [8]:
for i in range(1,4):
    for j in range(1,3):
        print(i,j)

1 1
1 2
2 1
2 2
3 1
3 2

In [13]:
for i in range(7):
    if i ==6:
        break
    print(i)

0
1
2
3
4
5

In [14]:
for i in range(1,10):
    if i == 5:
        break
    print(i)

1
2
3
4

In [17]:
for i in range(1,7):
    if i==5:
        continue
    print(i)

1
2
3
4
6

In [18]:
for i in range(3):
    print(i)
else:
    print("Loop completed.")

0
1
2
Loop completed.

In [20]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [21]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [22]:
for letter in "python":
    print(letter)

p
y
t
h
o
n

In [50]:
numbers=[1,2,3,4,5,6,7,8,9,10,11]
even_numbers = [x for x in numbers if x % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10]

In [55]:
for i in range(1,10):
    reverse_num= [range.reverse() for i in range]
print(reverse_num)

TypeError: 'type' object is not iterable

In [61]:
for i in range(1,100)
sum =

SyntaxError: expected ':' (3619063466.py, line 1)

In [64]:
for i in range(10):
    if i == 5:
        break
        print(i)

In [13]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [12]:
for i in range(0,5):
    if i == 3:
        continue
    print(i)

0
1
2
4

In [10]:
items = ["pen", "pencil", "book", "eraser"]
for item in items:
    if item == "book":
        print( '"Found the book!", breaking the loop')
    break

In [9]:
for i in range(1,6):
    print(i)
    
else:
    print("*")
    print("* *")
    print("* * *")
    print("* * * *")

1
2
3
4
5
*
* *
* * *
* * * *

In [14]:
items = ["pen", "pencil", "book", "eraser"]
for item in items:
    if item == "book":
        print("Found the book!")
        break

Found the book!

In [16]:
for i in range(1,6):
    print(i, end=" ")

1 2 3 4 5

In [21]:
squares= [i**2  for i in range(6)]
print(squares)

[0, 1, 4, 9, 16, 25]

In [25]:
words = ["sun", "bottle", "sky", "elephant", "hat"]
word for word in words if len(word) > 4
    print(word)

SyntaxError: invalid syntax (2753886427.py, line 2)

In [36]:
sentence= "I choose my focus. Not distractions."
print(sentence*5, "/n")
break
print("back to my power")

I choose my focus. Not distractions.I choose my focus. Not distractions.I choose my focus. Not distractions.I choose my focus. Not distractions.I choose my focus. Not distractions. /n

SyntaxError: 'break' outside loop (1620265538.py, line 3)

In [1]:
num = 2
while num <= 10:
    print(num)
    num += 2

2
4
6
8
10

In [8]:
num = 5
while num >= 1:
    print(num)
    num -= 1

print("Liftoff!")

5
4
3
2
1
Liftoff!

In [10]:
num = 1
while num <= 5:
    print(num)
    num += 1

1
2
3
4
5

In [11]:
num = 10
while num >= 6:
    print(num)
    num -= 1

10
9
8
7
6

In [12]:
#Count from 3 to 15, but only print the odd numbers
num = 3
while num <= 15:
    print(num)
    num +=2

3
5
7
9
11
13
15

In [14]:
num = 1
total = 0
while num <= 100:
    total+= num
    num += 1
print(total)

5050

In [19]:
num = 2
while num <= 20:
    square = num**2
    print(square)
    num +=2

4
16
36
64
100
144
196
256
324
400

In [20]:
num = 2
total = 0
while num <=100:
    total +=num
    num += 2

print(total)

2550

In [ ]:
num = 1
while num <=100:
    if num == 42:
        print("stopped at 42")
        break
    print(num)
    num += 1

In [ ]:
num = 1
while num <=30:
    if num % 5 == 0:
        continue
    print(num)
    num +=1

In [ ]:
friends = ["Aanchal", "Nishtha", "Aryan", "Mehak"]
index = 1

while index < len(friends):
    print("Friend", index, ":", friends[index])
    index += 1

In [ ]:
numbers = [10, 25, 30, 47, 50, 63, 70, 88]
index= 0
count= 0

while index < len(numbers):
    number = numbers[index]
    if number % 5 == 0 and number % 10 == 0:
        print(number)
        count +=1
    index +=1
    
print(count)

In [ ]:
num = 2
count = 0

while num <= 10:
    square = num ** 2
    print(square)
    count += 1
    num += 2
    
print("count is:", count)

In [ ]:
num = 2
count = 0

while num <= 10:
    square = num ** 2
    print(square)
    count += 1
    num += 2
    
print("count is:", count)

In [3]:
#print all numbers from 1 to 50 that are divisible by 3 or 7, and count how many there are.
number = 1
count = 0

while number <= 50:
    if number % 3 == 0 or number % 7 == 0:
        print(number)
        count += 1
    number += 1

print( "count is:", count)

3
6
7
9
12
14
15
18
21
24
27
28
30
33
35
36
39
42
45
48
49
count is: 21

In [1]:
number = 1
count = 0

while number <= 50:
    if number % 3 == 0 or number % 7 == 0:
        print(number)
        count += 1
    number += 1

print("count is:", count)

3
6
7
9
12
14
15
18
21
24
27
28
30
33
35
36
39
42
45
48
49
count is: 21

In [4]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [8]:
even_numbers = [x for x in range(2,21) if x % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [10]:
square = [x**2 for x in range(11)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [11]:
square = [x**2 for x in range(11)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [12]:
for x in range(1, 11):
    print(f"Number: {x} → Square: {x**2}")

Number: 1 → Square: 1
Number: 2 → Square: 4
Number: 3 → Square: 9
Number: 4 → Square: 16
Number: 5 → Square: 25
Number: 6 → Square: 36
Number: 7 → Square: 49
Number: 8 → Square: 64
Number: 9 → Square: 81
Number: 10 → Square: 100

In [16]:
#Print all numbers between 1 and 50 that are divisible by 3 or 7.
numbers = [x for x in range(50) if x % 3 == 0 or x % 7 == 0]
print("all numbers that are divisible by 3 or 7 are:", numbers)
print("Total count:", len(numbers))

all numbers that are divisible by 3 or 7 are: [0, 3, 6, 7, 9, 12, 14, 15, 18, 21, 24, 27, 28, 30, 33, 35, 36, 39, 42, 45, 48, 49]
Total count: 22

In [1]:
for i in range(1,4):
    for j in range(1,4):
        print(f" {i} x {j} = {i * j}")

 1 x 1 = 1
 1 x 2 = 2
 1 x 3 = 3
 2 x 1 = 2
 2 x 2 = 4
 2 x 3 = 6
 3 x 1 = 3
 3 x 2 = 6
 3 x 3 = 9

In [3]:
for row in range(3):
    for col in range(3):
        print("*", end=" ")
    print()

* * *
* * *
* * *

In [5]:
for row in range(1,4):
    for col in range(1,4):
        print()

In [13]:
for row in range(1,4):
    for col in range(1,4):
        print((row, col), end=" ")
    print()

(1, 1) (1, 2) (1, 3)
(2, 1) (2, 2) (2, 3)
(3, 1) (3, 2) (3, 3)

In [14]:
for row in range(1,4):
    for col in range(1,4):
        print(col, end=" ")
    print()

1 2 3
1 2 3
1 2 3

In [15]:
for row in range(1,5):
    for col in range(1, row+1):
        print(col, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4

In [28]:
for row in range(1,5):
    for col in range(1, row + 1):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *

In [29]:
for row in range(4, 0, -1):
    for col in range(row):
        print("*", end=" ")
    print()

* * * *
* * *
* *
*

In [30]:
#Print numbers 1 to 10, but skip multiples of 3 using continue.
for num in range(1,11):
    if num % 3 == 0:
        continue
    print(num)

1
2
4
5
7
8
10

In [31]:
#Print numbers 1 to 10, but stop completely when you reach a number divisible by 7 using break.
for num in range(1,11):
    if num % 7 == 0:
        break
    print(num)

1
2
3
4
5
6

In [32]:
names = ["Asha", "Ravi", "Karan"]
marks = [90, 85, 78]

for name, mark in zip(names, marks):
    print(name, "scored", mark)

Asha scored 90
Ravi scored 85
Karan scored 78

In [33]:
for i, (name, mark) in enumerate(zip(names, marks)):
    print(f"{i}. {name} → {mark}")

0. Asha → 90
1. Ravi → 85
2. Karan → 78

In [36]:
zipped= list(zip(["Asha", "Ravi", "Karan"], [90, 85, 78]))
print(zipped)

[('Asha', 90), ('Ravi', 85), ('Karan', 78)]

In [1]:
#for loop practice questions given by sir

In [2]:
#ques 1 for loop
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [5]:
#question 2
for x in range(1,21):
    if x % 5 == 0:
        print(x)

5
10
15
20

In [8]:
#question 3

for i in range(10,21):
    print(i)

10
11
12
13
14
15
16
17
18
19
20

In [10]:
#question 4
for i in range(2,11):
    if i % 2 == 0:
        print(i)

2
4
6
8
10

In [24]:
#question 5
for i in range(5):
    print("Hello")

Hello
Hello
Hello
Hello
Hello

In [27]:
#question 6
word = "Python!"
for letter in word:
    print(letter)

P
y
t
h
o
n
!

In [30]:
#question 7
for i in range(1,8):
    if i == 5:
        break
    print(i)

1
2
3
4

In [32]:
#question 8
for i in range(1,6):
    if i == 3:
        continue
    print(i)

1
2
4
5

In [33]:
#question 9
for i in range(1,7):
    print(i)
else:
    print("Loop complete!")

1
2
3
4
5
6
Loop complete!

In [34]:
#question 10
my_lists = ["a", "b", "c"]
for index, my_list in enumerate(my_lists):
    print(index, my_list)

0 a
1 b
2 c

In [35]:
#question 11:
letters = ["a", "b", "c"]
numbers = [ 1, 2, 3 ]
for letter, number in zip(letters, numbers):
    print(letter, " ", number)

a   1
b   2
c   3

In [40]:
#question 12
letters = ["a", "b", "c"]
numbers = [ 1, 2, 3 ]
zipped = list(zip(["a", "b", "c"], [ 1, 2, 3 ]))
print(zipped)

letters, numbers = zip(*zipped)
print(letters)
print(numbers)

[('a', 1), ('b', 2), ('c', 3)]
('a', 'b', 'c')
(1, 2, 3)

In [43]:
#question 13
squares = [x**2 for x in range (6)]
print(squares)

[0, 1, 4, 9, 16, 25]

In [47]:
#14. Use a `for` loop with list comprehension to get all odd numbers from `range(10)`.
odd_numbers = [x for x in range(10) if x % 2 != 0]
print(odd_numbers)

[1, 3, 5, 7, 9]

In [50]:
#1515. Write a `for` loop that prints "Even" or "Odd" for each number in `[1, 2, 3, 4, 5]`.
numbers = [1, 2, 3, 4, 5]

for x in numbers:
    if x % 2 == 0:
        print(f"{x} is Even")
    else:
        print(f"{x} is Odd")

1 is Odd
2 is Even
3 is Odd
4 is Even
5 is Odd

In [51]:
# while loooop

In [53]:
#answer 1
i = 1
while i <= 5:
    print(i)
    i = i+1

1
2
3
4
5

In [55]:
#answer 2
i = 5
while i >= 1:
    print(i)
    i = i-1

5
4
3
2
1

In [60]:
#amswer 3
i = 1
total = 0
while i <= 10:
    total += i
    i += 1
print(total)

55

In [61]:
#4. Write a `while` loop that prints only even numbers less than 10.
num = 2
while num <= 10:
    print(num)
    num += 2

2
4
6
8
10

In [62]:
#5 5. Create a `while` loop that keeps running until the user types `"exit"`.
num = 1
while num <= ():
    print(num)

TypeError: '<=' not supported between instances of 'int' and 'tuple'

In [2]:
user_input = ""

while user_input.lower() != "exit":
    user_input = input("Type something (or 'exit' to quit) ")
    print(f"You typed: {user_input}")

Type something (or 'exit' to quit)  77

You typed: 77

Type something (or 'exit' to quit)  exit

You typed: exit

In [ ]:
#6. Use `while` loop and `break` to stop when a number reaches 7.
i = 1

while True:
    if i == 7:
        break
    print(i)
    i += 1

In [ ]:
#6. Use `while` loop and `break` to stop when a number reaches 7.
i = 1

while True:
    if i == 7:
        break
    print(i)
    i += 1

In [ ]:
#7. Use `while` loop and `continue` to skip printing the number 4 from 1 to 5.
i = 1

while i <= 5:
    if i == 4:
        continue
        i += 1
    print(i)
    i += 1

1
2
3

In [1]:
#8 8. Use a `while` loop to print the first 5 multiples of 3.
i = 1

while i <= 5:
    print(i * 3)
    i += 1

3
6
9
12
15

In [2]:
#9 9. Write a `while` loop that prints "Looping..." 3 times, then stops.
i = 1

while i <= 3:
    print("looping...")
    i += 1

looping...
looping...
looping...

In [ ]:
#10. Create a `while` loop that doubles a number starting from 1 until it exceeds 50.
i = 1

while i <= 50:
    print(i)
    i *= 2