In [6]:
number=5
if number % 2==0:
    print(" even number ")
else:
    print(" odd number ")

 odd number

In [8]:
number=int(input("Enter the number"))
if number %2==0:
    print("even number")
else:
    print("odd number")

Enter the number 3

odd number

In [8]:
import copy

students = [
    {"name": "Alice", "subjects": ["Math", "Science"]},
    {"name": "Bob", "subjects": ["English", "History"]}
]
students_shallow = copy.copy(students)
students_deep = copy.deepcopy(students)
students_shallow[0]["subjects"].append("art")
print("original", students)
print("Shallow:", students_shallow)
print("Deep:", students_deep)

original [{'name': 'Alice', 'subjects': ['Math', 'Science', 'art']}, {'name': 'Bob', 'subjects': ['English', 'History']}]
Shallow: [{'name': 'Alice', 'subjects': ['Math', 'Science', 'art']}, {'name': 'Bob', 'subjects': ['English', 'History']}]
Deep: [{'name': 'Alice', 'subjects': ['Math', 'Science']}, {'name': 'Bob', 'subjects': ['English', 'History']}]

In [14]:
import copy

shelf = {
    "section": "Fiction",
    "books": ["1984", "Brave New World", "Fahrenheit 451"]
}

shelf_shallow = copy.copy(shelf)
shelf_deep = copy.deepcopy(shelf)

shelf_shallow["books"].remove("1984")
shelf_shallow["section"] = shelf_shallow["section"].replace("Fiction", "Sci-Fi")
shelf_deep["section"] = shelf_deep["section"].replace("Fiction", "Classic")
shelf_deep["books"].remove("Brave New World")

print("original:", shelf)
print("shallow:", shelf_shallow)
print("deep:", shelf_deep)

original: {'section': 'Fiction', 'books': ['Brave New World', 'Fahrenheit 451']}
shallow: {'section': 'Sci-Fi', 'books': ['Brave New World', 'Fahrenheit 451']}
deep: {'section': 'Classic', 'books': ['1984', 'Fahrenheit 451']}

In [24]:
import copy

team = [
    {
        "name": "Alicia",
        "role": "Developer",
        "tasks": ["Code Review", "Build API"]
    },
    {
        "name": "Ben",
        "role": "Designer",
        "tasks": ["Design Homepage", "Create Icons"]
    }
]

team_shallow = copy.copy(team)
team_deep = copy.deepcopy(team)
team_shallow[0]["role"]= team_shallow[0]["role"].replace("Developer", "Tech Lead")
team_shallow[0]["tasks"].remove("Build API")
team_deep[1]["role"]= team_deep[1]["role"].replace("Designer", "Creative Director")
team_deep[1]["tasks"].append("UX Research")

print("original:", team)
print("shallow:", team_shallow)
print("deep:", team_deep)

original: [{'name': 'Alicia', 'role': 'Tech Lead', 'tasks': ['Code Review']}, {'name': 'Ben', 'role': 'Designer', 'tasks': ['Design Homepage', 'Create Icons']}]
shallow: [{'name': 'Alicia', 'role': 'Tech Lead', 'tasks': ['Code Review']}, {'name': 'Ben', 'role': 'Designer', 'tasks': ['Design Homepage', 'Create Icons']}]
deep: [{'name': 'Alicia', 'role': 'Developer', 'tasks': ['Code Review', 'Build API']}, {'name': 'Ben', 'role': 'Creative Director', 'tasks': ['Design Homepage', 'Create Icons', 'UX Research']}]

In [26]:
colors = ["red", "blue", "green"]
it = iter(colors)

print(next(it))
print(next(it))
print(next(it))

red
blue
green

In [27]:
animals = ["cat", "dog", "lion"]
it = iter(animals)          # iterator banao

print(next(it))   # cat
print(next(it))
print(next(it))

cat
dog
lion

In [28]:
playlist = ["song1", "song2"]
it = iter(playlist)
next(it)
next(it)

StopIteration:

In [14]:
student = {
    "name": "Riya",
    "marks": 87,
    "subject": "Math"
}

student["Grade"]= "A"
student["marks"]= 90

for key, value in student.items():
    print(key, ":", value)

name : Riya
marks : 90
subject : Math
Grade : A

In [51]:
def calculator():
    print("Welcome to the calculator!")

num1= float(input("Enter first number"))
operator= input("Enter operator(+, -, *, /): ")
num2 = float(input("Enter second number"))

if operator == "+":
    result = num1 + num2
elif operator == "-":
    result = num1 + num2
elif operator == "*":
   result = num1 * num2
elif operator == "/":
    if num2!=0:    
        result = num1 / num2
    else: 
        return "cannot be divided by zero"   
else:
    return "Invalid Operator!"
    
  return f"Result: {result}"

print(calculator())

IndentationError: unindent does not match any outer indentation level (<string>, line 22)

In [48]:
def calculator():
    print("Welcome to Simple Calculator")

    num1 = float(input("Enter first number: "))
    operator = input("Enter operator (+, -, *, /): ")
    num2 = float(input("Enter second number: "))

    if operator == "+":
        result = num1 + num2
    elif operator == "-":
        result = num1 - num2
    elif operator == "*":
        result = num1 * num2
    elif operator == "/":
        if num2 != 0:
            result = num1 / num2
        else:
            return "Cannot divide by zero!"
    else:
        return "Invalid operator!"

    return f"Result: {result}"

# Call the function
print(calculator())

Welcome to Simple Calculator

Enter first number:  7
Enter operator (+, -, *, /):  +
Enter second number:  7

Result: 14.0

In [5]:
for num in range (2,4):
    print("Multiplication table for", num)
    for i in range(1,11):
        print(num*i)
        if i ==10:
            print("\n")

else:
    print("*" * 10)
    print("Thts all")
    print("*" * 10)

Multiplication table for 2
2
4
6
8
10
12
14
16
18
20


Multiplication table for 3
3
6
9
12
15
18
21
24
27
30


**********
Thts all
**********

In [1]:
import time

In [ ]:
result=time.localtime()

In [ ]:
result

In [ ]:
while True:
    result=time.localtime()
    if result.tm_hour== and result.tm_min==:
        print("wake up")
        break
            time.sleep(30)

In [5]:
numbers = [10, 15, 20, 25, 30]
even_numbers = [x for x in numbers if x % 2 == 0]
print(even_numbers)

[10, 20, 30]

In [9]:
words = ["apple", "banana", "cherry", "date"]
five_letters = [ word for word in words if len(word) > 5]
print(five_letters)

['banana', 'cherry']

In [10]:
temps_celsius = [0, 20, 30, 40]
temps_farhenheit = [(c * 9/5) + 32 for c in temps_celsius]
print(temps_farhenheit)

[32.0, 68.0, 86.0, 104.0]

In [14]:
names = ["Amy", "Tom", "Jessica", "Raj"]
long_names = [ name for name in names if len(name) > 3]
print(long_names)

['Jessica']

In [23]:
marks = [80, 45, 67, 30, 90]
status = ["Pass" if m >= 50 else "Fail" for m in marks]
print(status)

['Pass', 'Fail', 'Pass', 'Fail', 'Pass']

In [24]:
names = ["Amy", "Benjamin", "Cara", "Daniel"]
short_names = [name for name in names if len(name) <= 4]
print(short_names)

['Amy', 'Cara']

In [25]:
names = ["Amy", "Benjamin", "Cara", "Daniel"]
short_names = [name.upper() for name in names if len(name) <=4] 
print(short_names)

['AMY', 'CARA']

In [31]:
nums = [1, 2, 3, 4, 5, 6, 7, 8]
even_numbers = [num for num in nums if num % 2 == 0]
print(even_numbers)

[2, 4, 6, 8]

In [33]:
nums = [1, 2, 3, 4, 5, 6, 7, 8]
squares = [num**2 for num in nums if num % 2 == 0]
print(squares)

[4, 16, 36, 64]

In [42]:
words = ["elephant", "dog", "giraffe", "cat", "hippopotamus"]
first_letters= [word[0] for word in words if len(word) > 5]
print(first_letters)

['e', 'g', 'h']

In [43]:
words = ["elephant", "dog", "giraffe", "cat", "hippopotamus"]
first_letters = [word[0] for word in words if len(word) > 5]
print(first_letters)

['e', 'g', 'h']

In [46]:
words = ["sun", "moon", "galaxy", "sky", "star", "universe"]
reversed_form = [word[::-1] for word in words if len(word) <= 3]
print(reversed_form)

['nus', 'yks']

In [47]:
numbers = [3, 8, 15, 22, 7, 14, 29, 30]
divisible_numbers = [num for num in numbers if number / 2 then *]
print(divisble_numbers)

SyntaxError: invalid syntax (2865850795.py, line 2)

In [48]:
numbers = [3, 8, 15, 22, 7, 14, 29, 30]

divisible_numbers = [num * 2 if num % 3 == 0 else num for num in numbers if num % 2 == 0]

print(divisible_numbers)

[8, 22, 14, 60]

In [3]:
word = "Python"
for letter in word:
    print(letter)

P
y
t
h
o
n

In [4]:
sentence = "Radha is my jaan"
for word in sentence:
    print(word)

R
a
d
h
a

i
s

m
y

j
a
a
n

In [5]:
for number in range (5):
    print(number)

0
1
2
3
4

In [6]:
students_score = [20,33,95,34,55,67,89,58]

In [9]:
for marks in students_score:
    
    print(marks)

20
33
95
34
55
67
89
58

In [10]:
for marks in students_score:
    if marks > 90:
        print("topper")
    elif marks >= 80:
        print("outstanding")
    elif marks >= 70:
        print("good")
    elif marks >= 60:
        print("average")
    else:
        print("maza nahi aya")

maza nahi aya
maza nahi aya
topper
maza nahi aya
maza nahi aya
average
outstanding
maza nahi aya

In [17]:
numbers = [1, 2, 3, 4, 5]
for n in numbers:
    print(n)
    if n==3:
        break

1
2
3

In [18]:
for num in range(2,5):
    print("Multiplication table for",num)
    for i in range(1,11):
        print(num*i)
        if i ==10:
            print( "\n" )
else:
    print("*" * 30)
    print("Thats all")
    print("*" * 30)

Multiplication table for 2
2
4
6
8
10
12
14
16
18
20


Multiplication table for 3
3
6
9
12
15
18
21
24
27
30


Multiplication table for 4
4
8
12
16
20
24
28
32
36
40


******************************
Thats all
******************************

In [29]:
for num in range(5,7):
    print("multiplication table for:", num)
    for i in range(1,11):
        print(num*i)
if i==10:
        print( "/n" )

multiplication table for: 5
5
10
15
20
25
30
35
40
45
50
multiplication table for: 6
6
12
18
24
30
36
42
48
54
60
/n

In [33]:
num= int(input("Enter the number"))
for i in range(1,11):
         print(num, "X", i, "=", num*i)

Enter the number 10

10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

In [34]:
for i in range(1,4):
    for j in range(7,12):
        print(i,j)

1 7
1 8
1 9
1 10
1 11
2 7
2 8
2 9
2 10
2 11
3 7
3 8
3 9
3 10
3 11

In [ ]:
import time


while True:
    result = time.localtime()
    print(f"Checking time...{result.tm_hour}:{result.tm_min}")
    
    if result.tm_hour == 10 and result.tm_min == 29:
        print("Wake up buddy")
        break

    time.sleep(60)
    break

In [39]:
result = time.localtime

In [ ]:
student_name= ["Tanya", "Nishtha"]
student_mark= [54, 88]
student_detail = list(zip(student_name, student_mark))
print(student_detail)