In [2]:
# adding in list
my_list = [1, 2, 3]
my_list.append([4, 5])
print(my_list)

[1, 2, 3, [4, 5]]

In [3]:
#adding in list, but a better way
my_list = [1, 2, 3]
my_list.extend([4, 5])
print(my_list)

[1, 2, 3, 4, 5]

In [6]:
#making a tuple with single element
a=("b",)
print(type(a))

<class 'tuple'>

In [7]:
#set examples
a = {1, 2, 3}
b = {3, 4, 5}
print(a & b)

{3}

In [8]:
#more set examples
a = {1, 2, 3}
b = {3, 4, 5}
print(a.intersection(b))

{3}

In [9]:
info = {"name": "Aanchal", "skills": ["Python", "Excel", "AI"]}

In [13]:
#more questions
info["skills"].append("SQL")
print(info)

NameError: name 'info' is not defined

In [24]:
#list to tuple
names=("Tanya", "Nishtha")
new_name= ("Aanchal")
new_list=list(names)
new_list.append(new_name)
names=tuple(new_list)
print(names)

('Tanya', 'Nishtha', 'Aanchal')

In [1]:
numbers=[1,2,3,4,5,6,6,6,7,8,8,8,9,10,0,2,2,4,4,5,5,6,6,7,76,87,67,67,54,34,23,23,3]

In [4]:
remove_duplicates=set(numbers)

In [5]:
remove_duplicates

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 23, 34, 54, 67, 76, 87}

In [10]:
numbers=list(remove_duplicates)
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 67, 76, 34, 23, 54, 87]

In [1]:
#accessing elements using loop
food = {"chilly potato", "fries", "rolls"}
print(food)

{'fries', 'chilly potato', 'rolls'}

In [2]:
#checking if something exist or not
print("chilly potato" not in food)

False

In [4]:
#adding
food.add("Manchurian")
print(food)

{'fries', 'chilly potato', 'rolls', 'Manchurian'}

In [10]:
#set
food = {"chilly potato", "fries", "rolls"}
food.add("Manchurian")
food.update({"chilly paneer", "kashmiri apple"})
print(food)

{'fries', 'chilly potato', 'Manchurian', 'chilly paneer', 'kashmiri apple', 'rolls'}

In [13]:
#adding
non_veg={"Butter Chicken", "Afgaani Chicken", "Bhatti Chicken"}
food.update(non_veg)
print(food)

{'Manchurian', 'Afgaani Chicken', 'rolls', 'fries', 'chilly potato', 'chilly paneer', 'Bhatti Chicken', 'kashmiri apple', 'Butter Chicken'}

In [14]:
#removing
food.remove("Afgaani Chicken")
print(food)

{'Manchurian', 'rolls', 'fries', 'chilly potato', 'chilly paneer', 'Bhatti Chicken', 'kashmiri apple', 'Butter Chicken'}

In [15]:
#using discard
food.discard("chilly potato")
print(food)

{'Manchurian', 'rolls', 'fries', 'chilly paneer', 'Bhatti Chicken', 'kashmiri apple', 'Butter Chicken'}

In [18]:
#union
set1={5,7,9,11}
set2={5,3,1}
print(set1.union(set2))
print(set1.intersection(set2))

{1, 3, 5, 7, 9, 11}
{5}

In [20]:
#sym_difference
print(set1.symmetric_difference(set2))

{1, 3, 7, 9, 11}

In [21]:
#using clear
food.clear()
print(food)

set()

In [22]:
#making a copy
food.copy
print(food)

set()

In [6]:
#dictionary questions
my_dict = {
    "name": "Tanya",
    "age": "26",
    "city": "Delhi"
}
print(my_dict["name"])

Tanya

In [9]:
#dictionary questions
person = {
    "first_name": "Ravi",
    "last_name": "Sharma",
    "age": 30
}
print(person["first_name"])

Ravi

In [10]:
#adding a key
person["hobby"]= "cricket"
print(person)

{'first_name': 'Ravi', 'last_name': 'Sharma', 'age': 30, 'hobby': 'cricket'}

In [11]:
#deleting
del person["age"]
print(person)

{'first_name': 'Ravi', 'last_name': 'Sharma', 'hobby': 'cricket'}

In [20]:
#prints each key
for key in person:
    print(key)

first_name
last_name
hobby

In [23]:
#prints each value
for value in person.values():
    print(value)

Ravi
Sharma
cricket

In [24]:
#prints key and value in pair
for key, value in person.items():
    print(key, ":", value)

first_name : Ravi
last_name : Sharma
hobby : cricket

In [27]:
#checking if a key exits
if "hobby" in person:
    print("hobby found!")

hobby found!

In [36]:
#creating a dictionary
my_dict= {
    "book": {
        "title": "Atomic Habits",
        "author": "James Clear",
        "pages": 320
    }
}
print(my_dict["book"])

{'title': 'Atomic Habits', 'author': 'James Clear', 'pages': 320}

In [40]:
#adding
my_dict= {
    "book": {
        "title": "Atomic Habits",
        "author": "James Clear",
        "pages": 320,
        "rating": 4.8
    }
}
print(my_dict["book"])

{'title': 'Atomic Habits', 'author': 'James Clear', 'pages': 320, 'rating': 4.8}

In [49]:
#updating
my_dict["book"].update({"pages": 325})
print(my_dict["book"])

{'title': 'Atomic Habits', 'author': 'James Clear', 'pages': 325, 'rating': 4.8}

In [51]:
#updating in another way
my_dict["book"]["pages"]= 325
print(my_dict["book"])

{'title': 'Atomic Habits', 'author': 'James Clear', 'pages': 325, 'rating': 4.8}

In [63]:
#finding keys and value
for key, value in my_dict["book"].items():
    print(key, ":", value)

title : Atomic Habits
author : James Clear
pages : 325
rating : 4.8

In [60]:
#checking if author exists
if "author" in my_dict["book"]:
    print("Author found!")

Author found!

In [70]:
#another example of making a dictionary
my_dict= {
    "students": {
    "Tanya": {"math": 87, "science": 92, "english": 78},
    "Dhruv": {"math": 75, "science": 85, "english": 80},
    "Nishtha": {"math": 90, "science": 95, "english": 85}
    }
}
print(my_dict["students"])

{'Tanya': {'math': 87, 'science': 92, 'english': 78}, 'Dhruv': {'math': 75, 'science': 85, 'english': 80}, 'Nishtha': {'math': 90, 'science': 95, 'english': 85}}

In [74]:
#looping
my_dict= {
    "students": {
    "Tanya": {"math": 87, "science": 92, "english": 78},
    "Dhruv": {"math": 75, "science": 85, "english": 80},
    "Nishtha": {"math": 90, "science": 95, "english": 85}
    }
}

for student, marks in my_dict["students"].items():
    total= sum(marks.values())
    print(student, "total:", total)

Tanya total: 257
Dhruv total: 240
Nishtha total: 270

In [75]:
#looping
my_dict= {
    "students": {
    "Tanya": {"math": 87, "science": 92, "english": 78},
    "Dhruv": {"math": 75, "science": 85, "english": 80},
    "Nishtha": {"math": 90, "science": 95, "english": 85}
    }
}

for student, marks in my_dict["students"].items():
    maxi = max(marks.values())
    print(student, "maximum:", maxi)

Tanya maximum: 92
Dhruv maximum: 85
Nishtha maximum: 95

In [82]:
my_dict= {
    "students": {
    "Tanya": {"math": 87, "science": 92, "english": 78},
    "Dhruv": {"math": 75, "science": 85, "english": 80},
    "Nishtha": {"math": 90, "science": 95, "english": 85}
    }
}
highest = 0
toper= " "

for student, marks in my_dict["students"].items():
    science_marks= marks["science"]
if science_marks > highest:
    highest = science_marks
    topper=student
print(topper, "got highest in science with", highest)

Nishtha got highest in science with 95

In [86]:
my_dict= {
    "students": {
    "Tanya": {"math": 87, "science": 92, "english": 78},
    "Dhruv": {"math": 75, "science": 85, "english": 80},
    "Nishtha": {"math": 90, "science": 95, "english": 85}
    }
}
highest = 0
toper= " "

for student, marks in my_dict["students"].items():
    maths_marks= marks["math"]
if maths_marks > highest:
    highest = maths_marks
    topper=student
print(topper, "got highest in math with", highest)

Nishtha got highest in math with 90

In [1]:
my_dict= {
    "students": {
    "Tanya": {"math": 87, "science": 92, "english": 78},
    "Dhruv": {"math": 75, "science": 85, "english": 80},
    "Nishtha": {"math": 90, "science": 95, "english": 85}
    }
}
highest = 0
topper= " "

for student, marks in my_dict["students"].items():
    subject_marks= marks["subject"]
if subject_marks > highest:
    highest = subject_marks
    topper=student
print(topper, "got highest in math with", highest)

KeyError: 'subject'

In [7]:
my_dict= {
    "students": {
    "Tanya": {"math": 87, "science": 92, "english": 78},
    "Dhruv": {"math": 75, "science": 85, "english": 80},
    "Nishtha": {"math": 90, "science": 95, "english": 85}
    }
}
for student, marks in my_dict["students"].items():
    total = sum(marks.values())
    subject= len(marks)
    average= total / subject
    print(student, "average is:", round(average,2))

Tanya average is: 85.67
Dhruv average is: 80.0
Nishtha average is: 90.0

In [14]:
my_dict= {
    "students": {
    "Tanya": {"math": 87, "science": 92, "english": 78},
    "Dhruv": {"math": 75, "science": 85, "english": 80},
    "Nishtha": {"math": 90, "science" : 95, "english": 85}
    }
}
highest = 0
for student, marks in my_dict["students"].items():
    total = sum(marks.values())
    subject= len(marks)
    average= total / subject
if average > highest:
    highest = average
    print(student, "scored highest average marks overall", round(average,2))

Nishtha scored highest average marks overall 90.0

In [21]:
my_dict= {
    "students": {
    "Tanya": {"math": 87, "science": 92, "english": 78},
    "Dhruv": {"math": 75, "science": 85, "english": 80},
    "Nishtha": {"math": 90, "science" : 95, "english": 85}
    }
}
for student, marks in my_dict["students"].items():
    print(f"{student} scored {marks["math"]} in math, {marks["science"]} in science, and {marks["english"]} in english.")

Tanya scored 87 in math, 92 in science, and 78 in english.
Dhruv scored 75 in math, 85 in science, and 80 in english.
Nishtha scored 90 in math, 95 in science, and 85 in english.

In [27]:
my_dict= {
    "students": {
    "Tanya": {"math": 87, "science": 92, "english": 78},
    "Dhruv": {"math": 75, "science": 85, "english": 80},
    "Nishtha": {"math": 90, "science" : 95, "english": 85}
    }
}
for student, marks in my_dict["students"].items():
    subjects = [f"{score} in {subject}" for subject, score in marks.items()]
    print(subjects)

['87 in math', '92 in science', '78 in english']
['75 in math', '85 in science', '80 in english']
['90 in math', '95 in science', '85 in english']

In [1]:
a= [1,2,3,4]
b=a.copy()
print(b)

[1, 2, 3, 4]

In [3]:
id(a)

2382379505920

In [4]:
id(b)

2382379816192

In [5]:
a=10
print(type(a))

<class 'int'>

In [6]:
b= 5.5
print(type(b))

<class 'float'>

In [9]:
name='shiv'
print(type(name))

<class 'str'>

In [11]:
f=True and False
print(type(f))

<class 'bool'>

In [33]:
#part 1 completed
d=[1,2,3]
print(type(d))

<class 'list'>

In [18]:
fruits=["apple", "banana"]
fruits.append("mango")
fruits.extend(["orange", "grape"])
fruits.remove("banana")
fruits.pop()
fruits.index("apple")
print(fruits)

['apple', 'mango', 'orange']

In [19]:
fruits.index("apple")

0

In [20]:
fruits.count("apple")

1

In [21]:
z=[4,1,2,3]
z.sort()
print(z)

[1, 2, 3, 4]

In [22]:
z.reverse()
print(z)

[4, 3, 2, 1]

In [24]:
#part 2 completed
z.clear()
print(z)

[]

In [28]:
t=(1,2,3,4)
t.count(2)

1

In [27]:
t.index(3)

2

In [31]:
bakery=["bread", "butter"]
bakery_list=tuple(bakery)
print(bakery_list)

('bread', 'butter')

In [32]:
#part 3 completed
t.update(5)

AttributeError: 'tuple' object has no attribute 'update'

In [35]:
#part 4 starting
set={'Shiv', 'Ram', 'Krishna'}
set.add('Hanuman')
print(set)

{'Krishna', 'Ram', 'Shiv', 'Hanuman'}

In [41]:
set={'Krishna', 'Ram', 'Shiv', 'Hanuman'}
set.update({"Durga", "Ganesh"})
set.remove('Ram')
set.discard('Lakshmi')
print(set)

{'Shiv', 'Hanuman', 'Ganesh', 'Krishna', 'Durga'}

In [42]:
#part 5 starting
my_dict={"name": "shiv", "power":"destruction"}
print(my_dict["name"])

shiv

In [47]:
my_dict.update({'weapon':'trishul'})
print(my_dict)

{'name': 'shiv', 'power': 'destruction', 'weapon': 'trishul'}

In [50]:
print(my_dict.get("vehicle", "N/A"))

N/A

In [60]:
for key in my_dict:
    print(key)

name
power
weapon

In [62]:
for value in my_dict:
    print(value)

name
power
weapon

In [64]:
for key, value in my_dict.items():
    print(key, ":", value)

name : shiv
power : destruction
weapon : trishul

In [65]:
#starting question number 6
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [66]:
name= 'Tanya'
print(name)

Tanya

In [67]:
name="Tanya!!"
print(name)

Tanya!!

In [68]:
name='"Tanya_gera1@"'
print(name)

"Tanya_gera1@"

In [69]:
#starting question number 7
name= "Krishna"
print(name)

Krishna

In [70]:
f= 9.81
print(type(f))

<class 'float'>

In [71]:
k=["jaan", 0.01]
print(type(k))

<class 'list'>

In [73]:
"is_raining" == False
"is_not_raining" == True
print(type)

<class 'type'>

In [74]:
car= "Honda City"
print(type(car))

<class 'str'>

In [75]:
f= 100
print(type(f))

<class 'int'>

In [76]:
marks= 11.7
print(type(marks))

<class 'float'>

In [77]:
school=["Dayanand Vihar", 110092]
print(type(school))

<class 'list'>

In [78]:
school={"book": "Alchemist", "Author":"Pubo"}
print(type(school))

<class 'dict'>

In [79]:
#question number 8
print('It's sunny')

SyntaxError: unterminated string literal (detected at line 2) (136819516.py, line 2)

In [81]:
# single quote wont work bcz apostrophes
print("It's sunny")

It's sunny

In [86]:
sentence = '''She said, "It's a beautiful day", I smiled.'''
print(sentence)

She said, "It's a beautiful day", I smiled.

In [88]:
text= """"Jai Shri Ram", he said. 'Let the truth win!'"""
print(text)

"Jai Shri Ram", he said. 'Let the truth win!'

In [89]:
print("/n")

/n

In [90]:
print('/n')

/n

In [91]:
print('''/n''')

/n

In [92]:
print("""/n""")

/n

In [93]:
#question 9 starting
List= ["Radha", "Rani", "Vrindavan", 100, 0.25]
print(List)

['Radha', 'Rani', 'Vrindavan', 100, 0.25]

In [95]:
type([1, "Ram", True])

list

In [96]:
type(None)

NoneType

In [103]:
nested_list= [1, [2, 3], 4]
print(type(nested_list))

<class 'list'>

In [ ]:
my_dict=[{"name":"shiv"}]
print(my_